# Course Information
* Introduction to Programming (INFO-233)
* Ramapo College of New Jersey
* Professor Samuel Jacobs
* Notes Licensed Under [CC BY-SA](https://creativecommons.org/licenses/by-sa/4.0/)

# Lesson 02 Topics
* Strings
* Relational Operators
* Logical Operators
* Conditional Statements

## Strings
### Definition
A [string](https://docs.python.org/3/library/string.html) is an data type that contains a sequence of characters (a-z, A-Z, 0-9, !?@#$...) and are created by inserting characters between a pair of quotation marks, either ```''``` or ```""```. The simplest string is an empty one.

In [1]:
something = "" # Empty String

More commonly, strings contain a longer sequence of data.

In [2]:
something = "Hello World!"
print(something)

Hello World!

### String Operations
The string data type is also a class, which is a concept from Object-Oriented Programming (OOP). We will discuss OOP in detail later this semester, but for now it is only necessary to understand that strings contain data (a sequence of characters) and methods (exclusive functions) that operate on their data.

There are applications where case sensitivity ("A" vs "a") matters, such as evaluating a password, and cases when it does not matter, such as performing a web search. It may be frustrating for a user if they search ```pizza``` and it discards every instance of ```Pizza Hut``` because of case sensitivity. Python has two built-in functions, ```lower()``` and ```upper()``` which are commonly used string methods. A less common method is ```title()``` which capitalizes the first letter of each word.

In [3]:
text = "World Wide Web"
text.lower()

'world wide web'

In [4]:
text.upper()

'WORLD WIDE WEB'

In [5]:
text = "world wide web"
text.title() # Capitalize each word

'World Wide Web'

Notice how for each of the previous methods, our code took the form ```text.lower()```, ```text.upper()```, and ```text.title()```. These methods, which are essentially functions, are internal and exclusive to strings.

This is a noticeable difference from a function like ```print()```, which can be used anywhere in a program. Another function is ```len()```, which computes the length of a data type. ```len()``` is only useful for strings but lists and tuples, which will be covered in the Data Structures lesson.

In [6]:
len(something)

12

### Concatenating Strings
The addition (```+```) operator can combine multiple strings.

In [7]:
first = "First is the worst. "
second = "Second is the best."
total = first+second
print(total)

First is the worst. Second is the best.

Maybe a program requires repeated text. You can repeat text using the multiplication (```*```) operator. Furthermore, strings may be combined using any combination of multiplication or addition operators.

In [8]:
duck = "duck\n"
goose = "goose\n"
print(3*duck+goose)

duck
duck
duck
goose

### Manipulating Strings

### Substrings

In [9]:
text = "Gotta catch 'em all"

In [10]:
text[0] # The first character

'G'

In [11]:
text[-1] # The last character

'l'

In [12]:
text[0:5] # The first five characters
text[:5]  # Shortened version, same result

'Gotta'

In [13]:
text[-3:] # The last three characters

'all'

In [14]:
text[6:11] # Return the 6th (start counting at 0) to 11th character (not including 11)

'catch'

### Split Strings
The method ```split()``` divides a string into a list of smaller strings. The _delimiter_, or character which divides the string, defaults to a blank space ```' '```.

In [15]:
text = 'World Wide Web'
text.split()

['World', 'Wide', 'Web']

By default, this may be useful for a counting words in a document, but more often entries in a list are separated by commas ```,```. This is actually a critical way spreadsheets (Excel, Google Sheets, LibreOffice Calc, etc.) store data. We can reassign the delimiter by specifying ```split(delimiter)``` in the method.

In [16]:
text = "Who, What, Where, Why, How"
text.split(',')

['Who', ' What', ' Where', ' Why', ' How']

That was almost correct, but notice how there are rogue spaces split amongst the smaller strings? We can precondition our input using the ```replace(old, new)``` method.

In [17]:
text = text.replace(' ', '') # Replace spaces ' ' with blankspace ''
text.split(',')

['Who', 'What', 'Where', 'Why', 'How']

In Python, strings are _immutable_ meaning they cannot be modified in-place. This is seldom an issue, but it did require reassigning ```text``` to the value of ```text.replace(' ', '')```. If the code had not overwritten ```text```, then ```text.split(',')``` would have returned undesirable results.

In [18]:
text = "Who, What, Where, Why, How"
text.replace(' ', '')
text.split(',')

['Who', ' What', ' Where', ' Why', ' How']

Notice the rogue spaces? That is why ```text = ...``` was necessary.

### Search Strings
To identify whether a string exists in another string, we use the ```in``` keyword.

In [19]:
"Where" in text

True

### Casting Other Data Types as Strings
Suppose we wish to concatenate a string with a number, which can be common when formatting output.

In [20]:
cost = 7.25
#print("Your total is $" + cost + ".") # This returns an error

Note the difference between the previous code and the following:

In [21]:
print("Your total is $", cost, ".", sep="")

Your total is $7.25.

As it turns out, ```print()``` accepts a wide range of arguments, and it is able to concatenate different data types into the same string. However, when displaying mixed data types, it is not obvious what ```print()``` needs to do between accepting argument(s) and displaying results. The previous code makes it seem as if ```print()``` displays strings _and_ numbers, but when multiple arguments of ```print()``` are processed, the function must _cast_ non-string data types into the appropriate format.

Casting to a string is simple; simply pass your non-string data into the function ```str()```.

In [22]:
number = 7.25
str(number)

'7.25'

If we repeat our initial line of code, but instead casting ```str(cost)```, the results will be as desired.

In [23]:
print("Your total is $" + str(cost) + ".")

Your total is $7.25.

The function ```str()``` works with other data types as well.

In [24]:
str(True) # Boolean

'True'

In [25]:
str(-1) # Integer

'-1'

In [26]:
str("Still a string") # This is pointless, but str() can re-cast a string

'Still a string'

## Relational Operators
### Equality
The _equality_ operator (```==```) compares two literals, variables, or combination of either. If the values contain the same result, the expression returns ```True```. Otherwise, it returns ```False```.

#### Literal and Literal

In [27]:
2.45 == 2.45

True

In [28]:
1 == -1

False

#### Variable and Variable

In [29]:
x = 5
y = 5
x == y

True

In [30]:
y = y + 1
x == y

False

#### Variable and Literal

In [31]:
x == 5

True

In [32]:
5 == x # Notice how the operands can be flipped, unlike in an assignment statement

True

#### Non-numeric Equality
Python does not restrict the equality operator to numerical values. Strings may be compared for equality.

In [33]:
'password' == 'password'

True

In [34]:
'PASSWORD' == 'password' # Case Sensitive

False

In [35]:
'PasSwOrD'.lower() == 'password'

True

### Inequality

### Greater Than (```>```)

In [36]:
x = 5
y = 7

In [38]:
x > y

False

In [39]:
y > x

True

### Greater Than or Equal (```>=```)

In [ ]:
x = 6
y = 6

In [ ]:
x >= y

In [40]:
y >= x

True

### Less Than (```<```)

### Less Than or Equal (```<=```)

## Logical Operators
### And (```and```)
### Or (```or```)
### Not (```not```)

## Conditional Statements

### If Statement
### If...Else Statement
### If...Elif...Else

In [37]:
val = 0
if val < 5:
    val += 5
elif val < 10:
    val += 5
else:
    val += 5
print(val)

5